fastapi==0.109.2
uvicorn[standard]==0.27.1
python-multipart==0.0.9
sqlalchemy==2.0.25
aiomysql==0.2.0
pymysql==1.1.0
python-dotenv>=1.0.0
paddlepaddle==2.6.2
paddleocr==3.6.0
torch==2.2.0
torchvision==0.17.0
transformers==4.37.2
spacy==3.7.4
scispacy==0.6.2
opencv-python-headless==4.9.0.80
PyMuPDF==1.23.21
pdfplumber==0.10.3
python-dateutil>=2.8.2
pytesseract>=0.3.10
pdf2image>=1.16.3
# SciSpacy Models
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_core_sci_sm-0.5.4.tar.gz
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_ner_bc5cdr_md-0.5.4.tar.gz
